@model MVC_FinalProject.Models.Student

@{
    ViewData["Title"] = "ForgetPassword";
}

@if (TempData["ErrorMessage"] != null)
{
    <script>alert('@TempData["ErrorMessage"]');</script>
}

<h1>忘記密碼</h1>
<br />


<h2>重設密碼</h2>

<form asp-action="ResetPassword" method="post">
    <div class="form-group">
        <label asp-for="Id" class="control-label"></label>
        <input asp-for="Id" class="form-control" />
    </div>
    <div class="form-group">
        <label>New Password</label>
        <input name="NewPassword" type="password" class="form-control" />
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Reset Password</button>
</form>

<a asp-action="Login">Back to Login</a>
